node_modules
vendor
.env
.env.*
!.env.example
.git
.gitignore
.idea
.vscode
.cursor
.zed
docker-local
bootstrap/cache/*
!bootstrap/cache/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
